.content-us{
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.content-members{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}